
{% unless include.child %}
<div class="flow">
{% endunless %}

{% if node.color %}
  <style>
    content.{{ node.name | slugify }} {
      background-color: {{ node.color }};
    }
  </style>
{% endif %}

<ul>
  {% for node in include.nodes %}

  {% if node.color %}
  <style>
    div.flow .{{ node.name | slugify }} .content {
      background-color: {{ node.color }};
    }
  </style>
  {% endif %}

  <li class="
    {% if node.done %}done{% endif %}
    {% if node.color %}{{ node.name | slugify }}{% endif %}">

    <span class="edge"></span>

    <div class="content">
      <div class="title">
        {{ node.name }}
      </div>

      {% if node.description %}
        <div class="description">{{ node.description }}</div>
      {% endif %}
    </div>

    {% if node.nodes %}
      {% include flow.html nodes=node.nodes child=true %}
    {% endif %}

    <div class="clear"></div>
  </li>
  {% endfor %}
</ul>

{% unless include.child %}
</div>
{% endunless %}
