
/*
default
*/

$font-color: #3f3030;

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: $font-color;
  margin: 0;
  padding: 0 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, footer, main, .wrapper {
  max-width: 650px;
  margin: 0 auto;
}

header, footer {
  padding: 1em 0;
}

h1, h2, h3 {
  line-height: 1;
  margin: 1.5em 0 1.25em 0;
}

h1 { font-size: 1.75em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.15em; }

h4 {
  font-size: 1em;
  margin: 1em 0;
}

a, a:visited { color: $font-color; }
a:hover { color: #a33333 }

p { margin: 1em 0; }

footer {
  clear: both;
  font-size: 0.8em;
}

nav a {
  display: inline-block;
  margin: 0 0.5em 0 0;
}

hr {
  border: none;
  border-bottom: 1px solid $font-color;
  margin: 2em 0;
}

.clear { clear: both; }

@media (max-width: 700px) {
  body {
    font-size: 16px;
  }
}
