
/*
flow
*/

body.flow {
  main {
    max-width: 100%;
  }

  footer {
    margin: 2em 0 0;
  }
}

div.flow {
  $border-color: rgb(150, 150, 150);

  font-size: 75%;
  padding: 1em 0 0 1em;
  margin: 3em 0 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-left: 1em;
    margin-left: -1em;
    border-left: 1px solid $border-color;
  }

  li:last-of-type {
    border: none;
  }

  .edge {
    float: left;
    width: 2em;
    margin-left: -1em;
    border-top: 1px solid $border-color;
  }

  li .content {
    position: relative;
    float: left;
    padding: 0.25em 0.5em;
    margin: -1em 0 2em 0;
    max-width: 20em;
    border-radius: 0.5em;
    border: 1px solid $border-color;
    background-color: rgb(255, 255, 255);
    white-space: normal;
    z-index: 1;
  }

  li.done .content {
    background-color: rgb(217, 248, 213);
  }

  .title {
    text-align: center;
  }

  .description {
    font-style: italic;
    margin-top: 0.25em;
  }
}
