
/*
flow
*/

body.flow main {
  max-width: 100%;
}

div.flow {
  font-size: 75%;
  padding: 1em 0 0 1em;
  margin: 3em 0 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-left: 1em;
    margin-left: -1em;
    border-left: 1px solid rgb(150, 150, 150);
  }

  li:last-of-type {
    border: none;
  }

  .content:hover, .content:hover + ul .content {
    background-color: rgb(219, 237, 241);
  }

  .edge {
    float: left;
    width: 2em;
    margin-left: -1em;
    border-top: 1px solid rgb(150, 150, 150);
  }

  .content {
    position: relative;
    float: left;
    padding: 0.25em 0.5em;
    margin: -1em 0 2em 0;
    border-radius: 0.5em;
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    z-index: 1;
  }

  .done, .content:hover + ul .done {
    background-color: rgb(217, 248, 213);
  }

  .title {
    text-align: center;
  }

  .description {
    font-style: italic;
    margin-top: 0.25em;
  }
}
