<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sean Packham</title>
    <link rel="stylesheet" href="/styles.css?v={{ site.version }}">
  </head>
  <body class="{{ layout.class }}">
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="https://twitter.com/seanpackham">Twitter</a>
        <a href="mailto:sean@seanpackham.com">Contact</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      &copy; Sean Packham 2020
    </footer>
  </body>
</html>
