<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sean Packham {% if page.title %} - {{ page.title }} {% endif %}</title>
    <link rel="stylesheet" href="/styles.css?v={{ site.version }}">
  </head>
  <body class="{{ layout.class }}">
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="https://twitter.com/seanpackham">Twitter</a>
        <a href="mailto:sean@seanpackham.com">Contact</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <a class="left" target="_blank" rel="nofollow noopener" href="https://github.com/seanpackham/seanpackham.github.io/blob/master/{{ page.path }}">Source on GitHub</a>
      <span class="right">&copy; Sean Packham 2020</span>
      <div class="clear"></div>
    </footer>
  </body>
</html>
