<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sean Packham</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="https://twitter.com/seanpackham">Twitter</a>
        <a href="mailto:sean@seanpackham.com">Contact</a>
      </nav>
    </header>
    <main>
      <section>
        {{ content }}
      </section>
    </main>
    <footer>
      &copy; Sean Packham 2020
    </footer>
  </body>
</html>
